<h1>編集</h1>

<div class="todo">
  <%= check_box_tag "todo[done]", "1", @todo.done, id: "todo_done_#{@todo.id}", data: { id: @todo.id } %>
  <%= render "form" %>
</div>

<%= link_to "一覧へ戻る", todos_path, class: "button spaced" %>
