<h1>TODO 一覧</h1>
<% @todos.each do |todo| %>
  <ul>
    <li><%= check_box_tag "todo_done_#{todo.id}", "1", todo.done, disabled: true %></li>
    <li><%= "タスク：#{todo.task}" %></li>
    <li><%= "締切：#{todo.deadline || "なし"}" %></li>
  </ul>
<% end %>
